[2018-10-29 10:16] The-Code-Monkey opened #2 "Add Console Developer Console"
I am a web dev, saw this on reddit and it works as far as i am clear but my only issue is the fact it doesn't have a developer console similar to chrome, nor does it work if I have my window set to fullscreen within my mac environment.

Developer console is the only real thing stopping me from using this. would it be possible though with the dev console to make it detached from other window so i c

[2018-10-29 12:32] mubaidr commented on #2
Opening devTools separate to main window is possible, I might work on this one.
Should support local storage out of the box.
Probably bug in updating url

[2018-10-29 12:54] The-Code-Monkey commented on #2
Also im trying to add the keyboard shortcuts for opacity right now.

[2018-10-29 13:19] The-Code-Monkey commented on #2
Commit made for keyboard shortcuts pr done

[2018-10-29 14:42] piotrek-k opened #4 "Doesn't work on Ubuntu"
`Pennywise` behaves like a normal window (doesn't stay on top). Adjusting opacity doesn't work either. No error messages.

Tested on Ubuntu 18.04. Installed version: `pennywise_0.1.0_amd64.deb`.

[2018-10-29 14:52] The-Code-Monkey commented on #4
Can you try https://github.com/kamranahmedse/pennywise/releases/download/0.1.0/pennywise_0.1.0_i386.deb

[2018-10-29 14:57] The-Code-Monkey opened #5 "Overlay over fullscreen macOS"
this might be a way to get it to work over the top of fullscreen mac programs https://github.com/electron/electron/issues/10078#issuecomment-425690924

[2018-10-29 15:10] The-Code-Monkey commented on #2
LocalStorage Does work it was my web app that was wrong my bad

[2018-10-29 15:42] DLvalentine opened #7 "Add option to hide nav-bar"
For certain web pages and window resolutions, the nav-bar obstructs a lot of the screen real-estate.

I'd like to propose a change that allows the toggling of the nav-bar, and perhaps shortcuts and auto-hiding features, as well.

Just forked this (pretty awesome~) and might pin this as my first contribution

[2018-10-29 17:41] DLvalentine commented on #7
I think it would also be useful to update the title bar to reflect the current address/file opened, since the nav-bar is better hidden.... and I know what app I have open ;)

[2018-10-29 18:22] The-Code-Monkey commented on #7
I will look into this tonight when I am going to do a pr to update this, as I think a smaller/collapsed navbar could be beneficial

[2018-10-29 19:50] DLvalentine commented on #7
Oh awesome! Sounds good. I'd be more than happy to contribute, if support is needed! 👍

[2018-10-29 20:12] kamranahmedse commented on #7
Thanks guys
@The-Code-Monkey please hold on this one :) I have already started working on this.

[2018-10-29 20:14] PaxPax commented on #4
Facing same issue as person above on ubuntu 18.10. I tried `pennywise_0.1.0_amd64.deb` and it acts like a normal window so does `pennywise_0.1.0_i386.deb` and the app image and facing the same issue.

[2018-10-29 20:14] DLvalentine commented on #7
Sweet! Sounds good! I look forward to it! I've been looking for something like this for a while, great work!

[2018-10-29 20:15] kamranahmedse commented on #5
I experimented on this one but as far as I know electron doesn't allow showing it over the full screen windows. But anyways, will keep it open and will see if achievable.

[2018-10-29 20:23] piotrek-k commented on #4
@The-Code-Monkey `i386` is not my cpu architecture, but I've tried it. I'm not yet familiar with linux systems, I've runned `i386`, it has been installed _somewhere_ and I don't even know how to run it now. No shortcut in GNOME search bar.

[2018-10-29 20:38] The-Code-Monkey commented on #7
No worries will hold off

[2018-10-29 21:33] DLvalentine opened #8 "Accessibility Options"
It would be awesome if, since this is basically a chrome instance, we could control the web page's zoom level.

Alternatively, when the window is smaller in size (like a mobile screen resolution), most web pages don't seem to detect that and switch over the mobile/smaller views. I am curious if that is something that could be adjusted somehow, and wonder if that is the fault of the application or

[2018-10-29 21:35] DLvalentine commented on #8
Just tested it with Github and it seemed to work. It's probably just a lack of a horizontal scroll bar that is breaking it for applications that only support down to an NxN small screen size.

[2018-10-29 21:51] DLvalentine commented on #8
Moreover, other common functions like "Find" would be a nice to have.

[2018-10-29 21:57] The-Code-Monkey commented on #8
The reason twitch and Amazon don't work is they use the JavaScript device tags to work out which website to load as m.twitch.com is different to twitch.com same with Amazon. It's just the way they built it

[2018-10-30 08:10] #2 closed

[2018-10-30 09:46] DanielRuf opened #9 "Add and enable Travis CI for CI"
We should tests every commit and PR against multiple Node.js versions.

[2018-10-30 09:55] The-Code-Monkey commented on #9
What would you suggest the best way of doing this?

[2018-10-30 10:06] kamranahmedse commented on #9
It doesn't have tests at the moment and is something that we are planning to change; will enable the CI once we add tests. Thanks for opening the issue though.

[2018-10-30 10:28] 0xsven commented on #7
Came here to request this. Maybe it could appear on hovering the window

[2018-10-30 11:11] jvdmeij opened #10 "Focus URL input field when you open the app"
By focussing the URL input field immediately, you can open PW and press cmd-v followed by enter. Saves you the step to focus the field yourself.

[2018-10-30 11:15] The-Code-Monkey commented on #10
This or we could do it in the way that you highlight the url then rightclick and open pennywise from the menu and it will autofill the url and retrieve it

[2018-10-30 12:32] kamranahmedse commented on #10
@akash-joshi sure, just trigger the focus in `componentDidMount` hook

[2018-10-30 12:47] akash-joshi commented on #10
How do I deploy the built files ? I was just thinking of adding an autofocus tag to the input element.

[2018-10-30 12:49] The-Code-Monkey commented on #10
The built should only be deployed by @kamranahmedse in my opinion @akash-joshi that way we keep the build done the same every time.

[2018-10-30 12:50] akash-joshi commented on #10
@The-Code-Monkey I meant locally. Since running using yarn start triggers the dev console to be focussed first.

[2018-10-30 12:51] The-Code-Monkey commented on #10
oh if you go into electron.js in public and remove the if dev open console statement it wont open the dev console

[2018-10-30 12:51] The-Code-Monkey commented on #10
then restart the yarn start

[2018-10-30 12:53] akash-joshi commented on #10
Thanks !

[2018-10-30 12:54] The-Code-Monkey commented on #10
no worries happy to help

[2018-10-30 18:44] marlowe310 opened #11 "The Branding Is Wonderful, Ignore The Haters"
Just came over from Product Hunt and after seeing the comments there, I just wanted to say that the branding is hilariously thematic, and they're all wrong. Brilliant work!

[2018-10-30 19:30] kamranahmedse commented on #11
Thank you, appreciate that :)
And yes I am not changing it

[2018-10-30 19:30] #11 closed

[2018-10-30 22:57] adamelliotfields commented on #4
Running Mint 19 (which is Ubuntu 18.04 under the hood). Experiencing the same behavior as @piotrek-k with the amd64 build.

Cannot install i386 on an amd64 system, for obvious reasons.

@piotrek-k, the installer creates a symlink at `/usr/local/bin/pennywise`. You should be able to run the command `pennywise` from any terminal window.

Thanks @kamranahmedse for making this. I was looking for somet

[2018-10-31 03:16] karanrajpal14 commented on #4
Facing the same issue as @piotrek-k on my 16.04 machine as well. Please have a look at it and let me know if you need someone to test newer builds.

[2018-10-31 06:16] kamranahmedse commented on #4
I don't have Ubuntu 18 at the moment but I tried it on 14 and it was working fine. Can anyone please try the solution listed at https://github.com/electron/electron/issues/12445#issuecomment-385140283 on local and see if it works?

[2018-10-31 06:43] jurgenzz commented on #4
I run local build and looks like it works, when you move `mainWindow.setAlwaysOnTop(true)` inside the `ready-to-show` listener.

e.g. -
[code]
Someone maybe can confirm this and update?

[2018-10-31 06:55] aolko opened #15 "Doesn't open anything, be more specific"
So, i want to open my steam games in a floating window and i can't do so, due to the fact that this app only opens web urls and/or media, **not anything**, be more specific.

[2018-10-31 07:48] The-Code-Monkey commented on #15
It has never claimed to open anything except urls if you look at the docs.

[2018-10-31 08:10] The-Code-Monkey commented on #4
I will take a look and test that at some point.

[2018-10-31 08:52] aolko commented on #15
producthunt pages says otherwise, no mention of urls

![](https://i.imgur.com/lyZjInL.png)

[2018-10-31 09:06] The-Code-Monkey commented on #15
This is the aim to be able to do this eventually, and will be coming in the future to the project. This has only just started development and is in the early stages if you would like i will start to work out a way to do a functionality like this if it is possible to run another app inside of this one like that. Just so i know what OS are you running.

[2018-10-31 09:43] aolko commented on #15
Windows 10 1809
also please optimize your app's ram consumption, file size and installation path (some people have small C: SSDs, y know)

[2018-10-31 09:46] kamranahmedse commented on #4
Thanks @jurgenzz I will update and push the build tonight. Feel free to open a PR with that if you want.

[2018-10-31 09:57] jurgenzz commented on #4
I've opened PR

[2018-10-31 10:10] The-Code-Monkey commented on #15
App consumption ram wise would be the same as running a chromium instance, file size could be worked on a little bit i will see if anything can be done about that.

[2018-10-31 10:22] aolko commented on #15
i think ram consumption shoud be minimum 50-100mb, not 300 (that's what you get for relying on electron)

[2018-10-31 11:16] shanmukhateja commented on #10
Why not add a `autofocus` HTML tag to the input field?

[2018-10-31 15:20] akash-joshi commented on #10
Addressed in #18

[2018-10-31 16:57] kamranahmedse commented on #10
@shanmukhateja [because it doesn't work all the time](https://davidwalsh.name/react-autofocus). But anyways, thanks @akash-joshi for the PR. I will push the build in a moment.

[2018-10-31 16:57] #10 closed

[2018-10-31 16:58] The-Code-Monkey commented on #15
Will hopefully make a pr tonight to allow other types of files to be opened and overlayed.
Keep an eye here for the pr number

[2018-10-31 17:32] The-Code-Monkey commented on #8
I will see if I can get find working tonight shouldn't be too hard look out for a pr linked here

[2018-10-31 18:40] kamranahmedse commented on #15
Yes we need to rephrase that. Thank you for opening the issue – will do that.

[2018-10-31 18:40] #15 closed

[2018-10-31 21:09] jvdmeij commented on #7
I scrolled down to post this as well ;)

[2018-10-31 21:12] jvdmeij commented on #8
Cmd-L to focus the addressbar would be nice.

[2018-10-31 21:23] kamranahmedse commented on #7
Thanks guys, this has been [resolved in v0.3.0](https://github.com/kamranahmedse/pennywise/releases/tag/0.3.0). You can use the shortcut <kbd>CommandOrCtrl + Shift + L</kbd> to toggle the top nav. @0xsven had a good idea but it was causing issues while dragging so I rather resorted to the shortcut. Let us know if there is any feedback.

[2018-10-31 21:23] #7 closed

[2018-10-31 23:55] tomlazar opened #22 "Custom/collapsible Menu-Bar for Windows"
The current menu bar on windows takes up a lot of space and is distracting from the content. I have seen that other electron apps have been able to create a custom bar that is much better at using the space provided.

![image](https://user-images.githubusercontent.com/10578934/47825074-02d4a000-dd3e-11e8-8359-6e22bf07ec48.png)

[2018-11-01 01:06] kleerkoat opened #23 "Reader view for websites."
just a wish, kind of like reader view in safari.

[2018-11-01 01:07] kleerkoat opened #24 "Applescript Support"
I think it would be great to have apple script support.

[2018-11-01 03:15] akash-joshi commented on #24
Issue too vague. What do you mean ?

[2018-11-01 03:32] akash-joshi commented on #23
@kamranahmedse Does this fit your vision for the app ?

[2018-11-01 04:46] hironorinakauchi opened #25 "Command+L not working"
It seems to me that command+L doesn't work on my laptop. Not sure if it's only my laptop, but other than that everything seems to be working properly. FYI, I have the latest version of Macbook Pro. Thank you.

[2018-11-01 06:31] akash-joshi commented on #24
Pennywise does focus on input by default when started. I think you can create a custom flow for that in Alfred. Copy current tab -> open pennywise -> cmd+v and Enter.

[2018-11-01 06:35] kamranahmedse commented on #5
This has been fixed in [0.3.1](https://github.com/kamranahmedse/pennywise/releases/tag/v0.3.1). Thank you.

[2018-11-01 06:35] #5 closed

[2018-11-01 06:35] kamranahmedse commented on #25
Thank you for reporting. The build wasn't published yet. Deployed in [0.3.1](https://github.com/kamranahmedse/pennywise/releases/tag/v0.3.1)

[2018-11-01 06:35] #25 closed

[2018-11-01 09:01] reini-1 opened #26 "TypeError: Cannot read property 'hide' of undefied"
Hi!

I just installed `pennywise_0.3.1_amd64.deb` on a Ubuntu 18.04 laptop and got the following error message when try to start:

**A JavaScript error occurred in the main process**
Uncaught Exception:
TypeError: Cannot read property 'hide' of undefied
  at BrowserWindow.mainWindow.on(/opt/Pennywise/resources/app.asar/public/electron.js:32:14)
  at BrwoserWindow.emit (events.js:182:13)

Processes

[2018-11-01 10:42] akash-joshi commented on #26
I believe this is because of ```app.dock.hide()``` in public/electron.js
Maybe different branch for Ubuntu, @kamranahmedse ?

[2018-11-01 10:46] akash-joshi commented on #26
Fixed by these guys here : https://github.com/dtretyakov/teamcity-tray-notifier/issues/11.

I'll drop a PR

[2018-11-01 11:12] kamranahmedse commented on #26
Fixed in https://github.com/kamranahmedse/pennywise/releases/tag/0.3.3
Thank you for reporting :)

[2018-11-01 11:12] #26 closed

[2018-11-01 11:16] mariuskiessling opened #28 "Allow user to toggle title bar"
First of all: Thank you for starting this project. This has been a thing I needed for quite some time.

While using Pennywise, the title bar takes up quite some space and when watching full screen videos it is simply not needed. Thus I would like to suggest the option to toggle the title bar. The API needed for this feature is quite simple to implement (https://electronjs.org/docs/api/frameless-wi

[2018-11-01 11:29] kamranahmedse commented on #28
Thanks @mariuskiessling. Yes it is something that we have in the roadmap. It wasn't included in the initial release because I am not sure about the cross-platform compatibility.

[2018-11-01 12:30] ocxo opened #29 "Version 0.3.2 tagged as 0.3.3"
Not a huge deal but just wanted to bring it to your attention https://github.com/kamranahmedse/pennywise/releases/tag/0.3.3

Thanks for making this!

[2018-11-01 12:45] kamranahmedse commented on #29
Thanks. Fixed.

[2018-11-01 12:45] #29 closed

[2018-11-01 12:55] mariuskiessling commented on #28
That's a good point. I can assure you that this approach would work nicely on MacOS (because the menu bar is displayed permanently). I just sent a build to a friend of mine to get feedback on Windows.
The only issue I see is that if we would completely remove the title bar by default we would have to substitute it with a custom one. Only this way users on Windows (and partially Linux) would be abl

[2018-11-01 17:17] vhfmag opened #30 "Changing opacity has no effect on Ubuntu 18.04"
The latest release fixed the stay on top feature (#4), but it still doesn't change opacity.

Tested on Ubuntu 18.04 with [pennywise_0.3.2_amd64.deb](https://github.com/kamranahmedse/pennywise/releases/download/0.3.2/pennywise_0.3.2_amd64.deb)

[2018-11-01 17:47] kamranahmedse commented on #30
This is the limitation from Electron; changing the opacity, unfortunately, is supported only in Windows and macOS. We need to disable the icons and menu items on the other OS and clarify that in the readme.

![image](https://user-images.githubusercontent.com/4921183/47869082-6be01480-de1f-11e8-8c7b-fcd3f10a87d0.png)

[2018-11-01 17:47] #30 closed

[2018-11-01 19:58] jvdmeij commented on #24
Here you go, use this workflow in Alfred. Use the trigger 'pw' and the current active tab from both Chrome (or Safari) will be opened in Pennywise.

[Open active tab in Pennywise URL.alfredworkflow.zip](https://github.com/kamranahmedse/pennywise/files/2539883/Open.active.tab.in.Pennywise.URL.alfredworkflow.zip)

[2018-11-01 20:01] jvdmeij commented on #23
Outline could be easily implemented. Prefix the current url with https://outline.com/

[2018-11-01 23:56] PaxPax opened #32 "Opacity not changing Ubuntu 18.1"
On Ubuntu 18.1, the opacity bar will increase and decrease given the command, but the actual opacity of the application does not. I have the application installed as a debian file.

[2018-11-02 10:03] The-Code-Monkey commented on #8
I did not look into this yet but I am off work today so I will work on it today. I will do CMD or ctrl f to find and CMD or ctrl l for the URL bar

[2018-11-02 10:13] The-Code-Monkey commented on #24
I would say the issue is too vague as it doesn't say what the issue is and whether it's a bug or feature request.

[2018-11-02 10:15] The-Code-Monkey opened #33 "Preset bug reports or feature request issue templates"
I think we should have some pre defined issue templates seeing as it runs across 3 different os and we have different versions we can rule out issues quicker if we ask people for OS version penny-wise version and if its a feature or but request by the template its using?

[2018-11-02 11:11] kamranahmedse commented on #33
Good idea. I have added the templates. Thanks.

[2018-11-02 11:11] #33 closed

[2018-11-02 11:16] The-Code-Monkey commented on #33
Any issue from now on that are added that don't use the template, I think should be closed instantly

[2018-11-02 12:14] #32 closed

[2018-11-02 12:15] kamranahmedse commented on #32
Changing opacity is only supported in Windows and MacOS because of the platform limitation. I have removed the options in other platforms and put a note in the readme.

Thanks for opening the issue.

[2018-11-02 12:33] kamranahmedse commented on #23
Thanks for opening the issue but we have no plans for adding that.

[2018-11-02 12:33] #23 closed

[2018-11-02 12:45] kamranahmedse commented on #8
Thank you for opening the issue but implementing "Find", "Zoom Level" etc is not in the scope of the application. I have added the <kbd>CommandOrCtrl + L</kbd> to focus the URL bar and <kbd>CommandOrCtrl + Shift + L</kbd> to toggle the top nav though.

[2018-11-02 12:45] #8 closed

[2018-11-02 21:21] The-Code-Monkey commented on #28
I think this issue can be closed due to V0.4.0

[2018-11-03 00:41] kamranahmedse commented on #22
Fixed in 0.4.0. Please do let us know if you face any issues. Thanks

[2018-11-03 00:41] #22 closed

[2018-11-03 00:43] kamranahmedse commented on #24
Thanks for opening the issue. It isn't something that we have in the roadmap; but feel free to open a PR.

[2018-11-03 00:43] #24 closed

[2018-11-03 13:52] akash-joshi opened #34 "Track Progress -- Open local PDFs (Working now)"
**Do you want to request a *feature* or report a *bug*?**
I'll just keep this issue open to track the work on opening local PDFs

**What is the current behavior?**
Can't open pdfs

**Expected behavior**
Should Open PDFs

**OS / OS Version:**
All

[2018-11-03 13:53] akash-joshi commented on #34
@kamranahmedse Should this be implemented by using a JS library to display the PDF ?

[2018-11-03 18:01] itschytoo opened #35 "Evade mode"
This is a Feature Request.

Hey, pennywise is a great idea!

What about an optional "evade"-mode?
Whenever the mouse comes near to the floating window it will move "out of the way", e.g. to the other side of the screen.
Optionally it will automatically return when the mouse leaves the area.
To select the window, some modifier key has to be held, e.g. while pressing control the window will not evad

[2018-11-03 18:14] The-Code-Monkey commented on #35
I think this is a good thing I would say it should be a toggle rather than a holdable key. Not sure if this is possible but will have a look

[2018-11-03 18:14] The-Code-Monkey commented on #34
Yeah I would say use the default chromium one

[2018-11-03 18:52] kamranahmedse commented on #35
Thank you for opening the issue but this isn't something that we are planning to add.

However in the [latest release](https://github.com/kamranahmedse/pennywise/releases/tag/0.5.0) I have added the "detached mode" enabling which will make pennywise non-interactive and all the mouse interactions will fall down to the window below it. You can use it with the low transparency to make the app not com

[2018-11-03 18:52] #35 closed

[2018-11-03 19:30] mariuskiessling commented on #28
@The-Code-Monkey I don't think V0.4.0 resolves this request. V0.4.0 only collapses the menu bar on a few platforms. This however does not include the title bar.

[2018-11-03 19:35] The-Code-Monkey commented on #28
Ah ok I think there is a keyboard shortcut for removing the URL bar and the settings button

[2018-11-03 20:17] mariuskiessling commented on #28
@The-Code-Monkey The navigation bar you are referring is a different part of the UI. It is drawn as part of the electron app and is not provided by the operating system.

[2018-11-03 22:08] fbartels opened #36 "Pennywise does not allow pop out windows"
**Do you want to request a *feature* or report a *bug*?**
I guess this is somewhere in between

**What is the current behavior?**
- Open https://poly-mail.appspot.com/ (a PWA) in Pennywise
- Click on "Sign in.."
Result: Nothing happens

**Expected behavior**
A popup window should open which will sign you into the application.

**Screenshots**

**Pennywise Version:**
0.5.0

**OS / OS Version:**
Win

[2018-11-03 22:41] The-Code-Monkey commented on #36
All web functionality should work as normal as it is a chromium instance. Does this work in all the normal browsers e.g. chrome, Firefox.

[2018-11-03 22:43] The-Code-Monkey commented on #36
This would be due to it being a chromium instance as chromium does not work with pwa apps as of this point in time. I am unsure if chromium will ever work with pwa due to it being a stripped down version of chrome

[2018-11-04 04:44] akash-joshi commented on #36
@The-Code-Monkey This doesn't seem to be a PWA issue but a pop-up issue.

[2018-11-04 05:55] akash-joshi commented on #34
Tried using file input via ```<input type="file">``` but as it returns fakepath, it can't be used

[2018-11-04 07:34] eightam opened #40 "Missing component "WidevineCdm" (Netflix)"
**What is the current behavior?**
Netflix doen't play as it's missing component "WidevineCdm".

**Screenshots**
![bildschirmfoto 2018-11-04 um 08 33 29](https://user-images.githubusercontent.com/2012717/47961484-554ae080-e00c-11e8-9cd5-0c3da5d4fff9.png)

**Pennywise Version:**
0.5.0

**OS / OS Version:**
OSX 10.14

[2018-11-04 09:13] akash-joshi commented on #34
@kamranahmedse Can you acknowledge this ?

[2018-11-04 09:40] The-Code-Monkey commented on #36
That would be why if it's a new tab as we don't have support for tabs yet maybe in a future release if @kamranahmedse thinks it's in the roadmap

[2018-11-04 09:41] The-Code-Monkey commented on #40
Have you tried to do what it says on the screen?

[2018-11-04 09:43] kamranahmedse commented on #40
@eightam it's a known issue. We can't put widevinecdm into the repository because of the licensing issues but will see if we can put it in while building the app and not distribute it alongside the code.

[2018-11-04 10:40] akash-joshi commented on #34
Things which need to be improved : Check for extension; this is useful when media support is added

[2018-11-04 11:15] richardk2016 opened #45 "Remove the clown picture - please"
I am massively afraid of clowns and would still like to use this software. This is not fun but a medical problem.  You certainly don't want to intentionally hurt or harm anyone.  Please replace the clown image with something harmless. A monochrome pictogram maybe. Something like that http://downloadicons.net/clown-logo-icon-27682

[2018-11-04 11:40] The-Code-Monkey commented on #34
The reason you get fake path is because JavaScript can't get access to filepaths you need to do new fileReader

[2018-11-04 11:46] akash-joshi commented on #34
@The-Code-Monkey It's working now. Check out my fork

[2018-11-04 11:59] The-Code-Monkey commented on #34
Ok will do.

[2018-11-04 12:01] akash-joshi commented on #34
@The-Code-Monkey Now in #46

[2018-11-04 12:04] a-sync commented on #40
How about using this as an electron replacement? https://github.com/castlabs/electron-releases

[2018-11-04 12:06] The-Code-Monkey commented on #34
Im not sure how it works ive selected a file and its not clear what im supposed to do next?

[2018-11-04 12:12] The-Code-Monkey commented on #34
Ive added some styles i will make a pr to your fork ive not modified any of the files except from adding some styles to make it not the default button.

[2018-11-04 12:12] akash-joshi commented on #34
Wait

[2018-11-04 12:12] akash-joshi commented on #34
I've removed that, check #47

[2018-11-04 12:15] The-Code-Monkey commented on #34
I'm on twitter @exoticcollector

[2018-11-04 12:30] The-Code-Monkey commented on #34
Ive got the loaded file console logging the base 64 for the file it just need to now be displayed onto the page but im unsure of how you have set the rest of it up.

[2018-11-04 12:30] The-Code-Monkey commented on #45
I will have a look at this for you but at the end of the day it is down to @kamranahmedse as its his program

[2018-11-04 12:33] The-Code-Monkey commented on #34
I have pushed to my local master branch if you want to take a look at what i have done i cant do much more today

[2018-11-04 12:43] akash-joshi commented on #34
From #47, you just have to go under file -> open, or press cmd or ctrl + O and select the pdf you want to open.

[2018-11-04 12:44] The-Code-Monkey commented on #34
Ah ok

[2018-11-04 12:45] akash-joshi commented on #45
@richardk2016 I can build one without the clown for you. What OS are you using ?

[2018-11-04 18:18] #34 closed

[2018-11-04 22:52] Kondax commented on #45
Distributing a version _without_ the clown sounds fine, but I don't think it should be removed from the application for everybody else.

[2018-11-05 00:52] HyunmoAhn commented on #36
Issue that doesn't open popup window can be solve to using [new-window](https://electronjs.org/docs/api/webview-tag#event-new-window) in webview event hook.

Simply, Can open popup window in normal browser or move current `pennywise` page like clicked `a tag not target=_blank`. I don't know which case is better in `pennywise`.

**In both cases, I tried, but I couldn't solve the log-in problem on `

[2018-11-05 01:10] HyunmoAhn opened #51 "Don't update url in NavBar when movement page"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
Url in NavBar is not updated when movement page like click the link.

**Expected behavior**
Url in NavBar will change when movement page.

Is this intended?

[2018-11-05 06:26] svenjacobs opened #52 "Bookmarks"
Please add a bookmark / favorites feature. Bookmarks could be displayed on the main page along with the URL field.

[2018-11-05 08:01] The-Code-Monkey opened #53 "Contributor messaging"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

Non

**Expected behavior**

Message board, whether is it slack or if it is twitter group message for contributors to be able to talk

[2018-11-05 08:05] The-Code-Monkey opened #54 "unable to reattach"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

On Detaching you cannot reattach keyboard command or selecting from top menu

**Expected behavior**

should reattach

**Screenshots**

**Pennywise Version:**

0.5.1

**OS / OS Version:**

latest macos

[2018-11-05 08:46] a-sync commented on #40
That error message is intended for chrome users, you can use it to find your local lib file.
More info for electron can be found here: https://electronjs.org/docs/tutorial/testing-widevine-cdm

[2018-11-05 08:57] reorx opened #55 "Use "anything" to describe what pennywise can open is inappropriate"
**Do you want to request a *feature* or report a *bug*?**
Neither, a document suggestion.

**What is the current behavior?**

**Expected behavior**

At the first sight, it makes me feel that pennywise is a tool that can turn anything (in the operating system) into a floating window. For example an application window, a image, a text file. But it can only float a website it opens. This is quite mis

[2018-11-05 08:59] akash-joshi opened #56 "PDF working on Windows"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
I just tested my old PR related to opening PDFs in Pennywise and it worked without issue in Windows 7. You might want to consider adding that feature back

**OS / OS Version:**
Windows 7

[2018-11-05 09:33] me10zyl opened #57 "Feature advice , mobile mode or custom HTTP headers"
**Do you want to request a *feature* or report a *bug*?**
feature
**What is the current behavior?**
only PC browser
**Expected behavior**
Mobile Mode
**Screenshots**

**Pennywise Version:**
0.5.1
**OS / OS Version:**
Mac OSX 10.13.3

[2018-11-05 09:51] The-Code-Monkey commented on #40
widevine cdm no longer works on unsigned apps.

[2018-11-05 09:53] The-Code-Monkey commented on #55
With the latest version you are able to open files using a keyboard shortcut, this will be deployed soon watch for new releases

[2018-11-05 09:54] The-Code-Monkey commented on #56
Was this not merged I thought it was?

[2018-11-05 09:55] The-Code-Monkey commented on #57
Resize the window it will interact with sites that are responsive, sometimes you may have to write m. infront of urls if they have their mobile site on a subdomain.

[2018-11-05 10:09] akash-joshi commented on #56
@The-Code-Monkey We need a plugin to use the inbuilt chromium one in electron.

@kamranahmedse closed my PR as he thought that it would have issues in platforms other than Mac. Also, he doesn't want to maintain Pennywise as a PDF viewer.

You can check the current roadmap for the app's intent

[2018-11-05 10:11] The-Code-Monkey commented on #56
thats fine but i thought it was supposed to open files?

[2018-11-05 10:12] akash-joshi commented on #56
Yeah, now it isn't supposed to. Only websites

[2018-11-05 10:13] The-Code-Monkey commented on #56
Well at the end of the day it's his repo up to him.

[2018-11-05 10:13] akash-joshi commented on #56
I'm maintaining the file opening goal in my fork : https://github.com/akash-joshi/pennywise-plus

[2018-11-05 10:15] akash-joshi commented on #45
@richardk2016 I'm building without the clowns. Watch my repo : https://github.com/akash-joshi/pennywise-plus

[2018-11-05 10:19] The-Code-Monkey commented on #56
Check my version will allow you to open images, json and other files that chrome natively opens you just have to write it like file:///path/path/path

[2018-11-05 10:19] The-Code-Monkey commented on #56
All i need to do is put the keyboard shortcut in to open it

[2018-11-05 10:19] akash-joshi commented on #40
@The-Code-Monkey Interesting. Can you link it ?

[2018-11-05 10:21] akash-joshi commented on #56
@The-Code-Monkey You can use my code for the keyboard shortcut. Come on Twitter

[2018-11-05 10:36] kamranahmedse commented on #56
I am still planning on adding the open file support – it's just the PDF opening that I had wavering in my mind about; but that also, I am testing @akash-joshi's PR on any Linux distro today and if it works fine, I will pull it in. Thank you!

[2018-11-05 10:37] steppefox opened #58 "Bug: MacOS - errors for commands when the window is closed"
### Do you want to request a *feature* or report a *bug*?

Bug

### What is the current behaviour?

Mac: When you close Pennywise window, it stays in launched Apps, but you can't open the window again and when you run short-commands or press menu buttons (View -> Toggle Navbar), you receive errors.

### Expected behavior

You can open Pennywise window again by pressing Cmd+N (Ctrl+N)
When you run

[2018-11-05 10:40] The-Code-Monkey commented on #56
I am unable to do any more work until later today but i will use your shortcut and stuff @akash-joshi

[2018-11-05 10:56] akash-joshi commented on #56
@The-Code-Monkey Your method works for everything except pdfs. So I guess we still need to use the plugin for pdfs

[2018-11-05 11:43] kamranahmedse commented on #55
Agreed, we need to that. Will do it along the release tonight. Thanks!

[2018-11-05 12:01] reorx commented on #55
@fbartels if this is a problem in code I'll do, but the author should have better expression, as long as the idea is the same.

@kamranahmedse I'm glad you accept it, cheers :)

[2018-11-05 12:16] geekdada opened #60 "Use mobile user-agent"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**

**Expected behavior**

**Screenshots**

**Pennywise Version:**

**OS / OS Version:**

Why don't you use a mobile user-agent for better user experience, since the window got smaller?

[2018-11-05 12:39] The-Code-Monkey commented on #60
Please fill in the full issue template please.

[2018-11-05 12:41] The-Code-Monkey commented on #57
resize the window then as that would cause the website to resize. if its not resizing its not our issue most likely the website you are trying to view has some issue. all the websites ive tested both ways on work.

[2018-11-05 12:41] The-Code-Monkey commented on #57
If you could add some screenshots to your original issue that would be more helpful

[2018-11-05 12:42] The-Code-Monkey commented on #56
Does it work with the cmd + o

[2018-11-05 13:31] nervusdm opened #61 "Bug : Not working with internal URL."
**Do you want to request a *feature* or report a *bug*?**
If I type in the URL :
http://webtest2/example/

I cant reach the website. (even if it works perfectly on Chrome / ff /ie..

**What is the current behavior?**
Cant reach URL :
Try a search on google. I cant copy & past in the navbar it doesnt work.

**Expected behavior**
Go on the internal website.

**Screenshots**

**Pennywise Version:**
0

[2018-11-05 13:33] nervusdm commented on #45
No offense, but Internet is full of troll. I believe it's one of them.

[2018-11-05 13:39] The-Code-Monkey commented on #61
It does work because I use it for local testing when web developing. Must be something to do with your hosts file

[2018-11-05 14:42] necroshadow0 commented on #45
@akash-joshi
Dude. He licensed it. And copyrighted it too.
License
MIT © Kamran Ahmed
 look at the read me

[2018-11-05 14:50] The-Code-Monkey commented on #45
its mit meaning you can change and redistribute it as much as you want.

[2018-11-05 14:58] necroshadow0 opened #62 "Youtube videos shows up as unavaliable"
This is an issue. When I opened up Pennywise, opened up a vid link, and it proceeded to say the video was unavailable. I rebooted the app, refreshed the playlist link, and it still does not work.

![screen shot 2018-11-05 at 10 44 44 pm](https://user-images.githubusercontent.com/34232508/48005356-35233a80-e14e-11e8-89f1-31ae58f12a60.jpg)

**0.5.1:**

**OSX: 10.13 Mac sierra**

[2018-11-05 14:58] akash-joshi commented on #56
Yes

[2018-11-05 14:59] akash-joshi commented on #62
The problem might be with the video, try other videos too

[2018-11-05 15:02] necroshadow0 commented on #62
![screen shot 2018-11-05 at 11 01 02 pm](https://user-images.githubusercontent.com/34232508/48005621-dc07d680-e14e-11e8-83d5-8a7d27d3debc.jpg)
![screen shot 2018-11-05 at 11 01 26 pm](https://user-images.githubusercontent.com/34232508/48005624-dca06d00-e14e-11e8-8efa-603496162427.jpg)
![screen shot 2018-11-05 at 11 01 19 pm](https://user-images.githubusercontent.com/34232508/48005626-ddd19a00-e14e

[2018-11-05 15:09] akash-joshi commented on #53
@kamranahmedse The issues are getting polluted. Add me and @The-Code-Monkey as collabarators so we can help you with maintenance and issue management.

[2018-11-05 15:12] The-Code-Monkey commented on #62
Cannot replicate can you send me the playlist and step by step of what you did to get the error

[2018-11-05 15:18] The-Code-Monkey commented on #62
im guessing your using a https://youtu.be/aJOTlE1K90k link maybe its not allowing the redirect to youtube.com/watch=aJOTlE1K90k

[2018-11-05 15:20] necroshadow0 commented on #62
uhhh no
[here](https://www.youtube.com/playlist?list=PL6qJWDngc4uRbgKSyNXPdHASi2iFmPj4H)

[2018-11-05 15:21] akash-joshi commented on #62
Hmm, the link submitted by @necroshadow0 and https://youtu.be/aJOTlE1K90k, both face this issue

[2018-11-05 15:29] The-Code-Monkey commented on #62
I think it is something to do with auto redirects maybe being blocked by pennywise. also it seems to turn @necroshadow0 s link into an embed

[2018-11-05 15:30] The-Code-Monkey commented on #62
{
  "ns": "yt",
  "el": "embedded",
  "cpn": "9kJLUCMThAbusfER",
  "docid": "vx2u5uUu3DE",
  "ver": 2,
  "cmt": "0",
  "fs": "0",
  "rt": "17.515",
  "euri": "",
  "lact": 1,
  "cl": "219577728",
  "mos": 0,
  "state": "80",
  "volume": 100,
  "c": "WEB_EMBEDDED_PLAYER",
  "cver": "20181101",
  "cplayer": "UNIPLAYER",
  "cbr": "Chrome",
  "cbrver": "70.0.3538.77",
  "cos": "Macintosh",
  "cosver":

[2018-11-05 15:30] necroshadow0 commented on #62
huh
Or it's that mine is the playlist, not the video in the playlist

[2018-11-05 15:30] The-Code-Monkey commented on #62
i think its because your hitting the link and youtube is seeing a desktop app and trying to do an embed for some reason

[2018-11-05 15:31] necroshadow0 commented on #62
okkkk

[2018-11-05 15:31] necroshadow0 commented on #62
that may be true...

[2018-11-05 16:22] kamranahmedse commented on #53
Thanks. I have [created the community on spectrum](https://spectrum.chat/pennywise).

[2018-11-05 16:22] #53 closed

[2018-11-05 16:53] kamranahmedse commented on #55
Thanks guys, I have clarified that in the readme

[2018-11-05 16:53] #55 closed

[2018-11-05 17:07] kamranahmedse commented on #58
Fixed. Will be deployed in 0.5.2. Thanks

[2018-11-05 17:07] #58 closed

[2018-11-05 17:08] kamranahmedse commented on #61
Thank you for reporting the issue. I am not able to reproduce this, so will have to close the issue.

[2018-11-05 17:08] #61 closed

[2018-11-05 17:09] akash-joshi commented on #53
Got it 👍

[2018-11-05 17:10] kamranahmedse commented on #60
Duplicate of https://github.com/kamranahmedse/pennywise/issues/60

[2018-11-05 17:10] #60 closed

[2018-11-05 17:11] kamranahmedse commented on #56
Thank you. Will be deployed in the next release.

[2018-11-05 17:11] #56 closed

[2018-11-05 18:17] nervusdm commented on #61
Of course it works in the browser..

And ?
If I change the /etc/host.. what's the matter since it works in chrome, ff, ie not in pennywise ?

is this a bug tracker or a "ITS WORKS AS excepted" ?

[2018-11-05 18:21] The-Code-Monkey commented on #61
Well I have 5 sites currently in my hosts file and all 5 work through the penny-wise app so I can't see it being a ln app issue

[2018-11-05 19:47] nervusdm commented on #61
So if it works for you, it's not a bug ?
Well well well.

[2018-11-05 19:57] The-Code-Monkey commented on #57
What website is it that you are trying to access that won't work in pennywise?

[2018-11-05 19:57] kamranahmedse commented on #62
Fixed in 0.6.0. The details on how to make it work [can be found here](https://github.com/kamranahmedse/pennywise#auto-embed-videos)

TL;DR turn off the `Edit > Embed Videos` option while running these videos.

[2018-11-05 19:57] #62 closed

[2018-11-05 19:58] kamranahmedse commented on #54
It should be fixed in [0.6.0](https://github.com/kamranahmedse/pennywise#auto-embed-videos). Please re-open if you still face any issues. Plus, it would be great if you could submit a Gif/Video this time :)

[2018-11-05 19:58] #54 closed

[2018-11-05 19:59] The-Code-Monkey commented on #51
This is not intended, i am not sure how to do this if you know how feel free to add a pr if not i will take a  look at it.

[2018-11-05 20:00] The-Code-Monkey commented on #61
If it works for 5 instances of mine there musnt be an issue send me your hosts file and ill see whats wrong.

[2018-11-05 20:02] The-Code-Monkey commented on #54
yeah will do sorry

[2018-11-05 20:09] jwharrie opened #63 "Minor edits to readme.md"
Make a few edits to readme.md to improve readability.

[2018-11-05 20:12] The-Code-Monkey commented on #63
please follow the issue template

[2018-11-05 20:13] The-Code-Monkey commented on #52
not sure if this is possible but i will have a look

[2018-11-05 21:09] melanieseltzer commented on #51
I have been looking into it, PR incoming.

[2018-11-05 21:50] richardk2016 commented on #45
Thank you so much for your support. I'll install the offered alternative. I didn't want to offend anyone.

[2018-11-05 21:50] #45 closed

[2018-11-06 02:46] me10zyl commented on #57
em... website in pc view working good,  what I mean is some sites in small window using mobile browser is more convenient, for that matter, a shortcut key can switch it into mobile browser quickly.Forgive my poor English...

[2018-11-06 04:28] HyunmoAhn commented on #57
@The-Code-Monkey

I think this is problem of `user-agent`.
Current `pennywise` set desktop-mode for `user-agent` and It doesn't change.
https://github.com/kamranahmedse/pennywise/blob/0.6.0/src/components/web-page/index.js#L12

I know that some web-site conclusion using browser width if PC or Mobile, another web-site use `user-agent` or url prefix about "m" like https://naver.com and https://m.nav

[2018-11-06 04:48] HyunmoAhn opened #67 "How about update for production builded app?"
**Do you want to request a *feature* or report a *bug*?**
Do you think about update for builded app?

**What is the current behavior?**
I installed `pennywise` v0.5.1. Current latest version is `v0.6.0`. It is not updated.

**Expected behavior**
Update `pennywise` app from `v0.5.1` to `v0.6.0`.

[2018-11-06 05:12] HyunmoAhn commented on #67
I know simple solution that implement update for builded app.

I will describe logic and code of simple solution.
If you like this, I want to make PR about this issue.

Using [electron-updater, show documentation if you want](https://www.electron.build/auto-update)
## Sequence
This method keeps your built applications up to date at all times.
1. When started application, app check if current versi

[2018-11-06 06:28] kamranahmedse commented on #67
Sure, [go ahead](https://www.electron.build/auto-update#quick-setup-guide) :)

[2018-11-06 06:28] #63 closed

[2018-11-06 08:13] The-Code-Monkey commented on #57
What im saying is doing user-agent is not required as you can put m. if you need or you can resize the window size.

[2018-11-06 08:17] The-Code-Monkey commented on #40
@akash-joshi https://github.com/electron/electron/issues/12427

[2018-11-06 08:34] svenjacobs commented on #40
Hm... I was hoping that Pennywise could be **the** solution for me to play Netflix in a floating window under macOS. Other solutions like Fluid Browser don't work for me since they use the Safari rendering engine which - in conjunction with my second monitor which doesn't support some HDCP requirements - also refuses to play Netflix because of DRM issues. Well, DRM sucks 😡

[2018-11-06 08:43] The-Code-Monkey commented on #40
I can go ahead and contact google about it and try and get the right info

[2018-11-06 08:54] svenjacobs commented on #40
Go ahead but be prepared to wait months for an answer 😉

[2018-11-06 09:01] The-Code-Monkey commented on #40
I know lol all the tech Google has why isn't there a page for it like there is for the map APIs

[2018-11-06 11:21] reini-1 opened #70 "Some icons are garbage"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Hicolor icon 16x16, 32x32, 48x48 seems to bee garbage. They show some random pixels.
The other sizes seems to be ok.

**Expected behavior**
Propper icons in all sizes.

**URL attempting to access**
-

**Screenshots (Optional But May Be Requested)**
![image](https://user-images.githubusercontent.com/576

[2018-11-06 16:20] #51 closed

[2018-11-06 22:10] walesmd commented on #36
I think my report may be similar, so I'll add it here. I attempted to use Pennywise to watch CNN (url: https://go.cnn.com/?stream=cnn%3Fsr). After clicking "sign in" and then attempting to click on my service provider (AT&T U-Verse) nothing happened.

The normal flow, in Chrome, is for the provider's authentication page to load in a separate tab, you authenticate, then close that tab so you're bac

[2018-11-07 05:59] HyunmoAhn commented on #67
Close this issue because of completed by #68

[2018-11-07 05:59] #67 closed

[2018-11-07 06:01] HyunmoAhn commented on #67
Close this issue because of completed by #68

[2018-11-08 07:11] zmarouf opened #73 "Add to Brew Cask"
Super cool project!
I took the liberty of submitting a PR to Homebrew Cask for an easier installation experience on OSX.
https://github.com/Homebrew/homebrew-cask/pull/54636

Feel free to take over. If you're okay with it, I'll do a PR to update the README if/once merged.

[2018-11-08 07:31] kamranahmedse commented on #73
Thank you. Sure, go ahead with the PR once it is merged :)

[2018-11-08 15:33] mlcrow opened #75 "Focussed Window Audio"
**Do you want to request a *feature* or report a *bug*?**
Feature
**What is the current behavior?**
Standard behavior is that all windows or applications pass audio to the OS unless otherwise configured. Many games will mute their audio if they are not the focused window but nearly all other windows behavior is to simply output audio. I've looked for other OS programs that implement this feature f

[2018-11-08 18:02] geekdada commented on #57
@The-Code-Monkey Lots of services render mobile web pages based on the user-agent.

[2018-11-09 03:11] devhyunjae opened #77 "Toggle detached mode"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
when i press cmd + shift + d it changes to detached ode
to change to normal mode. have to click the icon on the doc

**Expected behavior**

want `cmd + shift + d` to be toggled detached mode <-> normal mode

**URL attempting to access**

**Screenshots (Optional But May Be Requested)**

**Pennywise

[2018-11-09 03:24] akash-joshi opened #78 "Spectrum chat link not available in read.me"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Spectrum discussion link not in the read.me

**Expected behavior**
It should be there

**URL attempting to access**
Spectrum URL of Pennywise

**Screenshots (Optional But May Be Requested)**

**Pennywise Version:**
----

**OS / OS Version:**
------

Any issue that doesn't have all of these filled in wi

[2018-11-09 07:00] The-Code-Monkey commented on #75
We would have to add a mute button inside of the settings popover due to the fact if you clicked off it would no longer do anything. I will take a look into doing a mute sometime today for you

[2018-11-09 07:02] The-Code-Monkey commented on #70
The noisy ones are included as i have seen this icon pop up on my mac from time to time

[2018-11-09 07:03] The-Code-Monkey commented on #28
@kamranahmedse i think we can close this as this is something that will not translate across all platforms.

[2018-11-09 07:13] mariuskiessling commented on #28
@The-Code-Monkey I strongly disagree. Please take a look at one of my previous comments. There are (to my knowledge) two ways to implement this feature with solid cross platform support.

[2018-11-09 14:56] Benoit-amo opened #80 "Not working on my Ubuntu 14.04"
**Do you want to request a *feature* or report a *bug*?**
Bug !

**What is the current behavior?**
Does not launch

**Expected behavior**
Should work (is it ?)

**URL attempting to access**
No URL

**Screenshots (Optional But May Be Requested)**
[code]

**Pennywise Version:**
0.6.1 AppImage

**OS / OS Version:**
Ubuntu 14.04 64bit

Any issue that doesn't have all of these filled in will be closed,

[2018-11-09 17:33] kamranahmedse commented on #80
This should be fine now. Could you please retry opening it and see if it opens now?

[2018-11-09 17:34] kamranahmedse commented on #78
I removed it on purpose – I don't think there is any need for having multiple channels for communicating. GitHub issues are fine.

[2018-11-09 17:34] #78 closed

[2018-11-09 17:47] #73 closed

[2018-11-09 18:00] nogorilla opened #81 "Brew install 404 error"
Installing via Brew on OsX fails with error: `Error: Download failed on Cask 'pennywise' with message: Download failed: https://github.com/kamranahmedse/pennywise/releases/download/0.6.1/Pennywise-0.6.1-mac.zip`

Issue:
Brew url is incorrect and should be: `https://github.com/kamranahmedse/pennywise/releases/download/v0.6.1/Pennywise-0.6.1-mac.zip`

[2018-11-09 18:50] Pelirrojo commented on #81
Or even better v0.6.2 please :)
https://github.com/kamranahmedse/pennywise/releases/download/v0.6.2/Pennywise-0.6.2-mac.zip

[2018-11-10 02:43] akash-joshi commented on #78
Okay, good

[2018-11-10 03:16] akash-joshi commented on #28
@mariuskiessling You mentioned in your original comment that if the maintainer approves you will post a PR. As Kamran approved it below you, you are welcome to try implementing this yourself.

[2018-11-10 03:45] akash-joshi commented on #28
You can't set frame false after creating BrowserWindow. So unfortunately, this option isn't toggleable.

[2018-11-10 08:36] The-Code-Monkey commented on #28
Ah I didn't think about the toggle able bit so yeah. This would in turn not be possible to toggle

[2018-11-11 01:06] bxb100 opened #82 "How to enable flash"

[2018-11-11 06:57] kamranahmedse commented on #81
This should be fine now. Please re-open if the issue persists. Thanks.

[2018-11-11 06:57] #81 closed

[2018-11-11 06:57] #82 closed

[2018-11-12 12:14] kamranahmedse commented on #80
Closing for no response – but it has been fixed. Please re-open the issue if it isn't resolved

[2018-11-12 12:14] #80 closed

[2018-11-12 13:37] mlcrow commented on #75
Awesome! Thanks for the support!

[2018-11-12 13:40] The-Code-Monkey commented on #77
What penny-wise version

[2018-11-12 13:41] The-Code-Monkey commented on #40
Close this as this is something I don't think can be done for a long time

[2018-11-12 14:18] Benoit-amo commented on #80
It's resolved, thanks.

[2018-11-12 17:37] akash-joshi commented on #28
I think this issue is too old and without solution. So it should be closed.

[2018-11-13 05:20] devhyunjae commented on #77
@The-Code-Monkey 0.6.1

[2018-11-13 06:37] The-Code-Monkey commented on #77
Please upgrade to 0.6.2 to see if the issue persists

[2018-11-13 10:02] kamranahmedse commented on #77
@The-Code-Monkey it's missing functionality. Upgrading the version won't do anything :)
@devhyunjae thanks for opening the issue, will see what we can do.

[2018-11-13 10:08] The-Code-Monkey commented on #77
Ok that's fine but I think if the version is out of date the first thing to be done is update and see if the error is still there as we may eventually update electron meaning it could be an electron issue why it didn't work on 1 version but does on another

[2018-11-14 20:03] reini-1 commented on #70
The broken files are in the debian package:
[code]

and on the filesystem if pennywise*.deb package is installed:
[code]

and as you can see in the screen shot from my first mail that there are some images broken.
I don't know, how you build the debian package and where the images came from.
Maybe you generate them from src/icons/pennywise.svg and there is something wrong with this.
I created the

[2018-11-16 01:57] akash-joshi commented on #28
Also, frameless windows aren't draggable

[2018-11-22 16:14] ameeno commented on #70
showing as a garbage icon in my alfred too

[2018-11-23 09:42] krike opened #84 "Feature request: Specify opacity percentage"
**Do you want to request a *feature* or report a *bug*?**
Feature request

**What is the current behavior?**
Must select the `Decrease opacity` several times. (shortcuts don't seem to work btw)

**Expected behavior**
Select a specific opacity percentage from the start

**Screenshots (Optional But May Be Requested)**
Helium screenshot:
<img src="https://i.postimg.cc/ZnQrmqJm/Screen-Shot-2018-11-23-

[2018-11-24 19:47] vivienney opened #85 "About Version (Wrong URL)"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
The letter v is missing in the Help > About Version URL leading to Github's 404 page

Current URL: https://github.com/kamranahmedse/pennywise/releases/tag/0.6.2

**Expected behavior**
Correct URL: https://github.com/kamranahmedse/pennywise/releases/tag/v0.6.2

Add a v in the URL before the app version

[2018-11-25 09:37] HyunmoAhn commented on #85
It looks like typo error in release note.

Show below screenshot
![image](https://user-images.githubusercontent.com/23732795/48977571-4376cd80-f0e0-11e8-8216-d56f74a226d8.png)

Current version is `v0.6.2`. But previous version was released like `0.6.0` or `0.5.0`.

If @kamranahmedse decide that add prefix `v` about new release version, need to edit URL according to suggestion in this Issue.

[2018-11-26 09:56] #85 closed

[2018-12-01 22:16] mlcrow opened #88 "Window Title Based on Contents"
**Do you want to request a *feature* or report a *bug*?**
Feature
**What is the current behavior?**
The application window always has the text "Pennywise - it will float"
**Expected behavior**
Update window title text based on document.title of contents shown. From any given page, if I type `javascript:alert(document.title);` in to the address bar, I'd like the returned contents to be the window t

[2018-12-14 12:43] akash-joshi commented on #28
@kamranahmedse

[2018-12-31 11:45] namitoyokota opened #91 "Default website on startup"
**Do you want to request a *feature* or report a ### *bug*?**
Feature
**What is the current behavior?**
Opens titles page when the application is opened
**Expected behavior**
With the default website feature, when the application is opened, the browser automatically directs you to the default website of your choice
**URL attempting to access**
All
**Screenshots (Optional But May Be Requested)**

*

[2019-01-04 13:28] shubhamvernekar opened #93 "Problem while draging the appliaction (insted of draging the application maximize) on linux"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**Expected behavior**

**URL attempting to access**

**Screenshots (Optional But May Be Requested)**

**Pennywise Version:**

**OS / OS Version:**
linux mint
Any issue that doesn't have all of these filled in will be closed, if yours is closed reopen with everything filled in.

[2019-01-10 18:06] smears666 opened #97 "DirecTV Now doesn't work"
**Do you want to request a *feature* or report a *bug*?**
Feature I guess

**What is the current behavior?**
Directvnow.com doesn't seem to stream video in Pennywise. Get error message "We couldn't play this content at this time. Please restart the app and try again."

**Expected behavior**
Live TV would work in Pennywise.

**URL attempting to access**
www.directvnow.com

**Screenshots (Optional B

[2019-01-16 06:37] #84 closed

[2019-02-14 19:31] geigel opened #99 "TV Auth Logins (e.g. DIRECTV) Not Working (New Window/Tab Support?)"
**Do you want to request a *feature* or report a *bug*?**

Somewhere in between.

**What is the current behavior?**

Visiting a site that offers a TV provider login doesn't work. For instance going to CNN or Fox News and trying to login with DIRECTV credentials doesn't work since that TV provider opens a new window to finalize the login and auth process. Within Pennywise clicking the "DIRECTV" lin

[2019-02-14 19:36] geigel commented on #36
Would love to have login support to the news sites CNN and Fox News. Right now can't login to DIRECTV.

[2019-02-14 19:39] geigel commented on #77
Sometimes when my PW window is detached I want to be able to click and move the window quickly. Could you do something where if you hold down a key combination and are hovering over a detached PW window it would allow you to have focus on PW window for a moment as if it were attached? And then releasing that key combo would let it go back to detach state?

Otherwise agree that a toggling of detach

[2019-02-14 19:51] geigel opened #100 "Multiple windows and/or instances of a window"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

This is **_not_** a request for popup windows or new window links to work. Rather, this is a request to add the feature of having multiple separate Pennywise windows open to allow for a few windows playing videos.

**Expected behavior**

Would be great to have a CMD+N or File > New Window ability

[2019-02-16 18:36] Aerz commented on #40
I got it works using Helium and Silverlight 5 on Mojave.

[2019-03-06 08:25] #28 closed

[2019-03-06 18:13] derekedelaney commented on #91
This is a great idea.
I was looking through the source code and found [here](https://github.com/kamranahmedse/pennywise/blob/master/public/electron.js#L34) that it's almost set up for something like this. For now, a workaround is to create an environment variable named APP_URL and assign it a URL. For example (on mac) in my `.bashrc` file,
[code]
now if you open the app with the command
[code]
it

[2019-03-06 19:31] skplunkerin commented on #100
Yes please!

[2019-03-07 00:21] squatto commented on #77
Related to this issue (I can make a separate one if you'd prefer) is that the deactivation of detached mode whenever PW gets focus could maybe be tweaked to instead require manual deactivation/"reattachment". This is best illustrated with this situation that I just went through:

1. Start dev tutorial video
2. Detach PW
3. Move focus to IDE
4. Video ends
5. Move focus to PW, click "Next Video"
6.

[2019-03-07 04:43] akash-joshi commented on #100
Seems easy enough to make. I'll do this.

[2019-03-07 06:15] akash-joshi commented on #100
So an issue I'm facing while building this is that the menu items and shortcuts only affect the parent window, not the newly opened window. I'm not sure how to deal with this problem 🤔
@alxwrd @kamranahmedse

[2019-03-07 11:28] skplunkerin commented on #77
I agree with @squatto , I would expect PW to stay detached until I re-attach it

[2019-03-07 14:30] alxwrd commented on #100
Is it not possible to just launch another instance of Pennywise?

[2019-04-12 15:38] jonyen opened #105 "Ability to change the microphone input"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Can't change the microphone input

**Expected behavior**
Would want to be able to change the microphone input

**URL attempting to access**
webcaptioner.com/captioner

**Screenshots (Optional But May Be Requested)**

**Pennywise Version:**

**OS / OS Version:**

Any issue that doesn't have all of t

[2019-04-23 17:44] napstercc opened #106 "Make window completement frameless"
**Do you want to request a *feature* or report a *bug*?**
Feature
**What is the current behavior?**
the top frame is visible (close, minimize, maximize buttons are seens)
**Expected behavior**
Hide the top bar, make it completely framelss
**URL attempting to access**
youtube.com
**Screenshots (Optional But May Be Requested)**

**Pennywise Version:**
Lastest as of 04/23/2019
**OS / OS Version:**
Wi

[2019-04-28 20:25] Ceereals commented on #40
if you use this [yarn package](https://www.npmjs.com/package/electron-widevinecdm) remains the problem?

[2019-05-15 02:03] namitoyokota opened #108 "Applications Folder Icon Image"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Displays a random RGB image

**Expected behavior**
Display a Pennywise Icon

**URL attempting to access**

**Screenshots (Optional But May Be Requested)**
![pennywise-issue](https://user-images.githubusercontent.com/42247132/57743653-91ca5980-768b-11e9-82c3-8f3e5202a9e7.png)

**Pennywise Version:**
0.6

[2019-05-15 02:06] #108 closed

[2019-05-24 04:55] DsRoyster opened #109 "Does not support Google Apps login"
**Do you want to request a *feature* or report a *bug*?**
feature
**What is the current behavior?**
Sites with Google Apps login method do not work. For example, this very nice math note taking app: http://www.themathist.com/app
**Expected behavior**
Can use Google account to login.
**URL attempting to access**
http://www.themathist.com/app
**Screenshots (Optional But May Be Requested)**
Skipped
*

[2019-06-28 09:54] coltnz commented on #82
https://github.com/kamranahmedse/pennywise#enable-flash-support

[2019-07-23 04:54] macgeekpro opened #111 "Feature Request: Pipe URL from the "open" command in the terminal"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

No such behavior

**Expected behavior**

The ability to accept and open url piped from the open command in the terminal

**URL attempting to access**

n/a

**Screenshots (Optional But May Be Requested)**

n/a

**Pennywise Version:**
0.8.0

**OS / OS Version:**

OSX Mojave

Any issue that doesn't

[2019-08-04 14:31] s3lia opened #112 "Feature Request: drag and drop to open file"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Currently, we have to navigate Pennywise -> Open and then search for the file we’d like to open in the file dialog.

**Expected behavior**
I’d like to simply drag and drop a file to the floating window to open it (like in Helium 3)

**URL attempting to access**
n/a

**Screenshots (Optional But May

[2019-08-04 14:35] s3lia opened #113 "Text files are difficult to read"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
It's very difficult to read a text file due to the dark background of Pennywise.

**Expected behavior**
Have a lighter background for text files so it gets easier to read.

**URL attempting to access**
n/a

**Screenshots (Optional But May Be Requested)**
<img width="611" alt="Bildschirmfoto 2019-08-04

[2019-08-14 11:02] poiromaniax commented on #40
Any update with this?

[2019-08-27 18:49] adamonsoon commented on #111
If you're using the latest version, this should work: `open /Applications/Pennywise.app --args --url "google.com"`

[2019-08-28 05:32] macgeekpro commented on #111
@adamonsoon thanks for that great pointer.

[2019-08-28 05:32] #111 closed

[2019-09-20 09:45] florindediu opened #116 "Video unavailable"
**Do you want to request a *feature* or report a *bug*?**
Report *bug*
**What is the current behavior?**
Some video are not displayed. Error: Video unavailable
**Expected behavior**
to work
**URL attempting to access**
https://www.youtube.com/embed/playlist?autoplay=1&list=PLAaxNZrbfWIm36lcSV9JPrP3VTTZY7G_U
**Screenshots (Optional But May Be Requested)**
https://drive.google.com/open?id=19vCbkWDkn

[2019-09-22 13:32] kamranahmedse commented on #116
Permissions on some videos do not allow the embedding feature which is used by default while playing the videos. In that case, you may try by turning the "Edit > Embed" off

![image](https://user-images.githubusercontent.com/4921183/65388628-a536b100-dd5e-11e9-8157-7c88ad669b60.png)

Try the URL again without `/embed/` in the URL https://www.youtube.com/playlist?autoplay=1&list=PLAaxNZrbfWIm36lcSV

[2019-09-22 13:32] #116 closed

[2019-09-23 06:42] florindediu commented on #116
Thanks for reply. Is working now.
Question: is there any app/plugin for block ads during youtube view? For MacOS.
On chrome browser i have an extension, but i want also on Pennywise to block the ads.

[2019-10-08 02:34] elkm-crypto commented on #40
Not sure if this helps, but I had the same error code. Found the WidevineCdm component, it refused to update. Checked my AdBlock Chrome extension and even though there was nothing to block, I disabled it anyway on all Netflix pages. Reload and boom, no error code anymore.

[2019-10-09 10:21] zaldih commented on #52
I would like to investigate about this... I think I know how it could be done.

[2019-10-10 04:08] chris-aeviator commented on #40
@elkm-crypto did you install (and later uninstall) the `AdBlock Chrome Extension` inside of pennywise

[2019-10-11 05:48] boxsnake opened #117 "Feature Request: Customize Installation Path"
Feature Request:
Can I customize where to install rather than one-click install to `C:\`?

A solution is for `electron-builder` with `nsis`:
[code]

[2019-10-11 05:50] boxsnake opened #118 "Feature Request: `file://` support"
Feature request:

Can I open a local file with `file://` protocol?
From my test, Pennywise does not support `file://` and any link will goes `http(s)` if no protocol given.

I am request if you can add `file://` protocol support, thanks.

[2019-10-11 12:57] boxsnake opened #119 "Suggestions: add your app to electron list"
Suggestions:

I suggest to add your apps to electron app list, to let more people konw your app.

Here is the electron app list: https://electronjs.org/apps

[2019-10-16 11:28] alxwrd commented on #118
hi @boxsnake. The `file://` protocol is currently supported for Pennywise.

![showing the use of the file protocol in pennywise](https://user-images.githubusercontent.com/13941027/66914635-22c4a880-f00f-11e9-92fe-a1e0f31d7bf1.png)

However, don't forget you will need three slashes `///` as the third slash means "root directory".
https://stackoverflow.com/a/40070752/7220776.

[2019-10-17 05:52] kamranahmedse commented on #118
Thanks @alxwrd

[2019-10-17 05:52] #118 closed

[2019-11-06 12:08] kamranahmedse commented on #119
[Done](https://github.com/electron/apps/pull/1230). Thank you!

[2019-11-06 12:08] #119 closed

[2019-11-11 12:31] larsblumberg opened #121 "Can't launch pennywise – command not found after installing with brew"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

1. Install pennywise via `brew cask install pennywise` as mentioned in the readme file
2. Type `pennywise` and press enter – command is not found

**Expected behavior**

`pennywise` is found and executable

**Pennywise Version:**

**OS / OS Version:**

MacOS 10.14

[2019-11-21 11:16] OriginalThing commented on #106
Hasn't this feature been added since v0.7.0 which was released 3 days after this issue was posted? See PR #89

[2019-12-01 06:33] akshaysinghal opened #122 "[Feature Request] Global shortcut/key-binding for quick hide/unhide"
**Do you want to request a *feature* or report a *bug*?**
Feature
**What is the current behavior?**
N/A
**Expected behavior**
Ability to quickly hide/unhide based on a global shortcut/key-binding. This is quite nicely done by a macOS app, Synonymful, that's similar in the sense that it too stays on top even when not in focus.
**URL attempting to access**
N/A
**Screenshots (Optional But May Be Requ

[2019-12-11 03:01] dmlemos commented on #40
Perhaps this [project](https://github.com/castlabs/electron-releases) can be of help?

[2019-12-24 06:52] peterinjapan opened #123 "There appears to be no way to control Pennywise via scripts?"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
The app works as expected, a "dumb" browser which floats above other stuff

**Expected behavior**
I would love *any* ability to control it via scripts, such as terminal commands to tell it to open this URL or that, or the ability to hide via a script. Applescript would be nice too, though for a too

[2020-01-29 00:59] tim-lynn-clark opened #125 "Amazon Prime Video Failes (Digital Rights Error)"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Amazon Prime. When trying to watch a video you get a 'Digital Rights Error' with the message
'Your web browser is missing a digital rights component. Go to chrome://components and under WidevineCdm, click Check for Update.'

**Expected behavior**
Watch an Amazon Prime video through Pennywise.

**URL at

[2020-01-29 01:04] tim-lynn-clark commented on #125
Just some motivation for fixing this, Helium also does not work with Amazon. Instead of the 'Digital Rights Error' you get am HTML5 video error and are forced to turn on Flash. If you can solve both these issues you could win over everyone using Helium.

[2020-01-31 04:13] mrThomasTeller opened #126 "Doesn't work with multiple desktops on Windows 10"
**Do you want to request a *feature* or report a *bug*?**
*bug*

**What is the current behavior?**
When you switch between multiple desktops the pennywise window appears only on one desktop and hides on others.

**Expected behavior**
Hellium on Mac remains visible on every desktop. It's very convinient when you work and watch youtube for example. It would be nide if Pennywise for windows does the

[2020-02-03 21:21] napstercc commented on #106
@OriginalThing It's not. The top window bar (with the icons: _, [ ], X on windows) is still shown. I'd be super cool to hide it thought.

[2020-02-06 20:40] 1ennard opened #127 "*feature request* startup behaviour & drag and drop support"
**Do you want to request a *feature* or report a *bug*?**
feature
**What is the current behavior?**
really nice but could be even better
**Expected behavior**
1) save settings after closing the program (navbar, borderless windw style)
2) option to set up a default website at start
3) open files via drag and drop
**URL attempting to access**
none
**Screenshots (Optional But May Be Requested)**

**P

[2020-02-06 20:41] #127 closed

[2020-02-16 14:20] munchero opened #128 "Windows installation .exe for v0.8.0 doesn't include the PR#90 to let links be sent to it"
**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current behavior?**
alxwrd's 'Open with Pennywise' chrome add-in does not work, sending links to Pennywise fails
**Expected behavior**
Right-clicking on a link to send to Pennywise and it opens in Pennywise. Installing Windows build v0.7.0 works perfectly.
**URL attempting to access**
www.google.com
**Screenshots (Optional

[2020-02-28 01:10] terzhang opened #129 "Feature Request: Zoom with ctrl + scroll"
**Do you want to request a *feature* or report a *bug*?**

A feature

**What is the current behavior?**

Right now, Pennywise can zoom in and out with shortcuts `ctrl & +` or `ctrl & -`

**Expected behavior**

I want to request zooming feature using `ctrl & scrollwheel`

**Pennywise Version:**
v0.80

**OS / OS Version:**
Windows 8.1

[2020-03-26 14:40] AhmedRaafat14 opened #132 "[Feature Request] Open local files"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Now I can open any online URL in pennywise no problem with that.

**Expected behavior**
I want to be able to open a local file by providing the local path.
For example on mac: `/Users/username/Books/design-patterns-en.pdf`

**OS / OS Version:**
macOS 10.15.3

[2020-04-11 11:32] quektc opened #133 "Multiple floating windows!"
Possible to include multiple floating windows?

[2020-04-11 11:33] #133 closed

[2020-04-11 12:09] quektc opened #134 "Feature Request: Opening multiple windows on a desktop"
**Do you want to request a *feature* or report a *bug*?**
Request a feature.

**What is the current behavior?**
Can only open one penny wise window at a time

**Expected behavior**
Open multiple windows

**OS / OS Version:**
Windows (10)

[2020-04-21 16:36] Porkechebure opened #135 "Complete the damn reade"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**Expected behavior**

**URL attempting to access**

**Screenshots (Optional But May Be Requested)**

**Pennywise Version:**

**OS / OS Version:**

Any issue that doesn't have all of these filled in will be closed, if yours is closed reopen with everything filled in.

[2020-05-21 15:33] krillin666 opened #138 "Application crashes when trying to activate frameless mode (Fedora 31)"
**Do you want to request a *feature* or report a *bug*?**
Bug.
**What is the current behavior?**
Application crashes when trying to activate frameless window mode.
**Expected behavior**
Not crash.
**URL attempting to access**
??
**Screenshots (Optional But May Be Requested)**
![](https://media1.giphy.com/media/PnhJ47yOLAnN6WSeAw/giphy.gif)
**Pennywise Version:**
0.8.0
**OS / OS Version:**
Fedora 3

[2020-07-18 17:03] Overload119 commented on #123
Hey @peterinjapan have you found anything that reproduces functionality like this? I ended up implementing my own Webview in Hammerspoon but I agree that if this app was complemented it with the functionality you're describing it would be incredibly useful.

[2020-07-19 06:41] BloodShotPanther opened #142 "Pennywise with less used video streaming applications."
**Feature**

**Pennywise will not function properly with a video player such as Funimation. Also freezes when attempting to access that tab.**

**To function with less common video players.**

**https://www.funimation.com/shows/fire-force/the-heart-of-a-fire-soldier/uncut/?lang=english&a=1**

**Screenshots (Optional But May Be Requested)**

**pennywise-setup-0.8.0.exe**

**Windows 10 Home x64**

A

[2020-08-17 18:07] shl0ms commented on #138
+1, I have the same issue.

@kamranahmedse

[2021-01-15 09:59] chaoban888 opened #148 "Feature Request: Remember the settings when i restart the program"
Can you make it remember the website, the size and the position on the screen when I restart the program?
Thanks!

[2021-02-11 14:38] firedev commented on #132
Oh please make it so I could drop an image

[2021-02-20 03:02] dcuche opened #150 "Assign window title identifier!"
Hello, just discovered Pennywise like 30 minutes ago and changed my life xD

There is only one thing preventing me to incorporate it in my workspace...
The thing is, I need to have several windows... and well when I open a second (or third... etc) Pennywise, I get the following error:

![image](https://user-images.githubusercontent.com/34727204/108581840-34406200-7373-11eb-9bc6-5309b62088e3.png)

[2021-03-03 03:14] ExecutorH commented on #106
Hello!

I came here looking for an alternative to FloBro. Pennywise is almost perfect to my needs and it would be perfect, PURRRRRFECT if you can add this feature to be frameless (not showing the top window bar).

Please consider it.

Thank you!

[2021-03-03 19:46] OriginalThing commented on #106
Pressing <kbd>Command/Control + Shift + F</kbd> will restart Pennywise in frameless mode. If additionally you don't want the address bar press <kbd>Command/Control + Shift + L</kbd>

If you go to push request 89 that I mentioned before, you can see it in action and see how to get Pennywise to start in frameless mode by default on Windows.

@kamranahmedse Can you put ` | <kbd>Cmd/Ctrl + Shift + F</

[2021-03-04 02:12] ExecutorH commented on #106
Thank you OriginalThing

Now I figured once you enter the url in frameless mode, you can not move the window.

[2021-03-16 18:42] Erudition opened #152 "Feature Request: Transparent pages"
I would love to use pennywise to create transparent overlays, such as showing the keyboard layout I'm trying to learn. This is possible in e.g. OBS using a browser that allows see-through pages when background-color: transparent is set. I can't find anything that can do this in a normal floating window though, and Pennywise is so close! I know Electron supports this capability.

[2021-03-18 07:03] croogie opened #153 "feature: support for media keys"
I see that on my macOS Pennywise doesn't support media keys (Play/Pause). Are there any plans for it?

[2021-04-08 02:32] owenfiscus opened #155 "Update README for installation command"
Homebrew no longer needs cask int its commands to install cask apps. Therfore, `brew cask install pennywise` should be changed to `brew install pennywise` in the README.

[2021-05-11 18:23] cbiras opened #160 "Enable JavaScript"
**Do you want to request a *feature* or report a *bug*?** bug
**What is the current behavior?** Pennywise is throwing an error saying that js is not enabled. Because of this, my app developed in reactjs, has some functionalities that are not working in pennywise, but are working in Chrome. Example: overflowing list. Chrome makes the list scrollabale, pennywise minimizes all the items to fit the sc

[2021-08-08 15:18] digital-rama commented on #155
brew install --cask pennywise

[2021-09-11 09:43] fragrusti opened #166 "Pennywise 0.8.0 infected with Malware-Gen [Trj] according to AVAST Antivirus"
**What is the current behavior?**
The latest DMG of Pennywise 0.8.0 is infected with a geneeric Malware Trojan for Windows. At least according to the AVAST antivirus. The 0.7.0 is not affected

**Expected behavior**
No viruses or trojan :-)

**URL attempting to access**
Latest release of Pennywisee in gtihub.

**Screenshots (Optional But May Be Requested)**
none

**Pennywise Version:**
0.8.0

**OS

[2021-09-24 07:40] lazyzero opened #168 "How to build pennywise???"
How to build pennywise??? yarn build seams not to work any more on MacOS 11.5.2 and (K)ubuntu 20.04

I already tried to use yarn upgrade, but that fails as well. Seams some packages are not really upgradable?

Any advice is welcome.

**Pennywise Version:**

**OS / OS Version:**

Any issue that doesn't have all of these filled in will be closed, if yours is closed reopen with everything filled in.

[2021-10-09 12:40] mikhail-cct opened #170 "Pennywise and screen sharing in Zoom not working together"
**Do you want to request a *feature* or report a *bug*?**

Bug/feature: Zoom doesn't see Pennywise windows as a sharing entity

**What is the current behavior?**

When starting Screen Share there is no option to choose an active Pennywise window

**Expected behavior**

When starting Screen Share there should be an option to share Pennywise window whether borderless or not

**URL attempting to acce

[2021-11-05 01:36] timevortex161 opened #172 "*Feature Request* reduce size of navigation bar or hide navigation bar on window inactivity."
Would it be possible to have an option to make the address bar smaller, or even make the address bar disappear with inactivity in the window, similar to how the navigation bar on a video will disappear when the mouse isn't moving. The navigation bar takes up a lot of space on my small screen, so I want to see if it's possible to make it smaller.

[2021-11-09 15:16] Today100 opened #173 "*feature request* Hope this app could open and read files"
# This is a __feature request__

I hope this app could open and read files, like chrome.

[2021-11-18 21:56] bryanchapman9999 opened #174 "Update install instructions"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**Expected behavior**

**URL attempting to access**

**Screenshots (Optional But May Be Requested)**

**Pennywise Version:**

**OS / OS Version:**

Any issue that doesn't have all of these filled in will be closed, if yours is closed reopen with everything filled in.

[2021-11-18 21:56] bryanchapman9999 commented on #174
brew cask install pennywise
should be
brew install cask pennywise

[2022-01-16 15:53] papitowo opened #176 "way to minimize top bar"
**Do you want to request a *feature* or report a *bug*?**

A way to minimize the top bar where you can minimize, Fullscreen, and close the window so its just completely the web page
![image](https://user-images.githubusercontent.com/97842871/149667297-5557d660-84d1-491c-b911-a6361a1c57c4.png)

[2022-02-10 08:31] giladbarnea commented on #173
+1, floating a local .jpg would be great

[2022-03-29 16:54] piotreknow02 opened #188 "Bug: server on port 6280 doesn't launch passed links"
Current behavior: Request is accepted and returns status 200 but does nothing

Expected behavior: Application should open url passed as query param

URL attempting to access: http://localhost/?url={some_url}

Pennywise Version: 0.8.0

OS / OS Version: MacOS 12.2.1

[2022-03-29 18:26] piotreknow02 commented on #188
I've submitted a PR for this issue #189

[2022-04-13 02:56] jhogendorn commented on #106
Being able to move the window once in frameless mode would be really handy, otherwise its only movable by resizing.

[2022-05-05 02:12] NickWortley commented on #176
You can!

**Press Ctrl+Shift+F**

The app will re-load and you won't see the title bar anymore

Then you can combo it with Ctrl+Shift+L to hide the URL bar once you're at the website you want

[2022-05-21 00:08] nnmrts commented on #166
The MacOS version is infected with a North Korean APT backdoor virus. I have never seen something like this. I needed to delete half my apps to get rid of it.

[2022-06-08 07:27] donkeykong74 opened #191 "Malware NukeSped in pennywise--0.8.0.dmg"
Hi, I just installed pennywise on my MacOS, CleanMyMac warned my about malware while installing.
Is this an error or true malware in the pennywise brew package pennywise--0.8.0.dmg

Thanks!

**What is the current behavior?**
brew install pennywise

**Expected behavior**
No malware

**OS / OS Version:**

MacOS 13 / CleanMyMac

[2022-07-15 04:37] josin7 opened #193 "[Feature Request] Option to reload webpages automatically"
**Do you want to request a *feature* or report a *bug*?**

I am trying to display a website with satellite imagery that updates every 30 minutes or so. A feature to auto-refresh will be of great help as I can have the latest updates automatically on my screen.

[2022-07-25 04:15] Ghasak opened #194 "Pennywise malware detected."
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**Expected behavior**

**URL attempting to access**

**Screenshots (Optional But May Be Requested)**
![Screen Shot 2022-07-25 at 13 14 10](https://user-images.githubusercontent.com/27670946/180697764-b75ebd7c-c903-4d2e-9494-1d0591533a26.png)

**Pennywise Version:**

**OS / OS Version:**

Any issue that do

[2022-07-25 15:18] DevanFischer commented on #194
Same happened to me, what a shame! Was really looking forward to this Helium replacement. Please purge the Malware!!!

[2022-08-02 17:41] ewolfe commented on #194
The malicious SHA is `a0c461c94ba9f1573c7253666d218b3343d24bfa5d8ef270ee9bc74b7856e492`.

This SHA points to https://www.cisa.gov/uscert/ncas/analysis-reports/ar21-048d and something called Kupay Wallet.

[2022-08-28 04:44] TheCoroner28 opened #195 "Frameless Window Issue"
I'd like to report an issue I'm having. I disabled the "Embed videos" so I could watch the video on the URL attached. It does work, but when I select "Frameless window" the app restarts and the video does not work anymore and I have no way of accessing the menus anymore. I have to restart the app"

(https://www.youtube.com/watch?v=BXfYTUfKMGI)

I have the latest version (8 I think) and Windows 10

[2022-09-07 18:12] therealmarv commented on #194
Here are the details of `https://github.com/kamranahmedse/pennywise/releases/download/v0.8.0/Pennywise-0.8.0.dmg` uploaded to `www.virustotal.com`

https://www.virustotal.com/gui/file/9e6195f1096d399aafd77da74e4461964364fdbeec3b667cd91ecf9704e73b69/detection

Because of the extremely low number of detections I'm pretty confident that this is a false positive. Another sign that this is a false posi

[2022-09-07 18:36] therealmarv commented on #191
look here, e.g. my comment https://github.com/kamranahmedse/pennywise/issues/194#issuecomment-1239719090